* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f2f2f2;
}

.container {
margin: 0 auto;
max-width: 800px;
padding: 20px;
background-color: #fff;
}

h2 {
text-align: center;
}

form {
display: flex;
flex-direction: column;
align-items: center;
}

label {
margin-top: 10px;
margin-bottom: 5px;
}

input[type="number"] {
padding: 10px;
border: none;
border-radius: 5px;
background-color: #f2f2f2;
margin-bottom: 10px;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	margin-bottom: 10px;
}

button {
background-color: #4caf50;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
margin-top: 20px;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #3e8e41;
}

#edges {
	width: 100%;
	padding: 5px;
}
	
.edge-input {
	width: 100%;
	display: block;
	margin-top: 10px;
}
	
.edge-input input {
	display: inline-block;
	margin-right: 10px;
}

#edges input{
	width: 100%;
	display: block;
}

#result {
	top: 50%;
	left: 50%;
	width: 280px;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0px 0px 3px #000;
}

.close {
	left: 40%;
	color: #fff;
	bottom: 10px;
	width: 20%;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	display: none;
	background-color: #4caf50;
}

.resultDiv {
	padding: 10px;
	position: relative;
	text-align: center;
}
